h1 {
  color: #088c37;
}

* {
  font-family: sans-serif;
  color: red;
}

#welcomeMessage {
  color: chocolate;
}

.text-black {
  color: #000;
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.card {
  border: 2px solid lightslategray;
  padding: 16px 32px;
  color: grey;
  border-radius: 8px;
  width: 400px;
  height: 300px;
  display: inline-block;
  /* overflow: scroll; */
}

.separator {
  margin-top: 16px;
}

.spanSeparator {
  margin-left: 32px;
}

.black-card {
  width: 215px;
  height: 114px;
  background-color: black;
  padding-top: 16px;
  padding-left: 18px;
  box-sizing: border-box;
}

.black-card-tittle {
  font-size: 9px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.black-card-subtittle {
  font-weight: 500;
  font-size: 7px;
  color: white;
}
